<table border = "2">
  <% 0.upto(3) do |t|%>
    <tr>
      <% 0.upto(3) do |f| %>
       
        <% if @game.movable?((t*4)+f)%>
          <td><%= link_to @game.points[(t*4)+f].to_s, game_path(:point => (t*4)+f), :method => :put %></td>
        <% else %>
          <td><%= @game.points[(t*4)+f] %></td>
        <% end %>
              
      <% end %> 
     
    </tr>
  <% end %>
  
  
</table>



